---
export interface Props {
  title: string;
  image: string;
  slug: string;
  slugCategory: string;
  description: string;
}

const { title, image, slug, slugCategory, description } = Astro.props;
---

<script>
  import { animate, stagger } from "motion";

  class Card extends HTMLElement {
    constructor() {
      super();
      const card = this.querySelector(".card") as HTMLElement;
      const image = this.querySelector("img") as HTMLElement;
      const blueBG = this.querySelector(".blur-bg") as HTMLElement;
      const details = Array.from(
        this.querySelectorAll(".details")
      ) as HTMLElement[];

      card.addEventListener("mouseenter", () => {
        animate(
          image,
          {
            scale: 1.2,
          },
          { duration: 0.6 }
        );
        animate(
          blueBG,
          {
            opacity: [0, 1],
          },
          { duration: 0.3 }
        );
        animate(
          details,
          {
            transform: ["translateY(10px)", "translateY(0px)"],
          },
          { duration: 0.3 }
        );
      });

      card.addEventListener("mouseleave", () => {
        animate(
          image,
          {
            scale: 1,
          },
          { duration: 0.8 }
        );
        animate(
          blueBG,
          {
            opacity: [1, 0],
          },
          { duration: 0.4 }
        );
        animate(
          details,
          {
            transform: ["translateY(0px)", "translateY(10px)"],
          },
          { duration: 0.4 }
        );
      });
    }
  }

  customElements.define("custom-card", Card);
</script>

<custom-card
  data-message={slug}
  class="card-container"
>
  <div class="card relative aspect-square overflow-hidden rounded">
    <img
      src={image}
      alt={title}
      class="h-full w-full cursor-pointer object-cover"
    />

    <div
      class="blur-bg absolute bottom-0 flex h-auto w-full flex-col justify-end bg-gradient-to-t from-gray-900/80 to-transparent p-4 opacity-0"
    >
      <h3
        class="title details text-lg font-medium uppercase text-gray-50 md:text-xl"
      >
        {title}
      </h3>
      <p class="desc details mt-2 text-base text-gray-300 line-clamp-2">
        {description}
      </p>
      <a
        href={`/${slugCategory.toLowerCase()}/${slug}`}
        class="more details mt-4 w-fit px-0.5 text-gray-300 decoration-indigo-600 underline-offset-1 transition hover:text-indigo-300 hover:underline"
        >Read more</a
      >
    </div>
  </div>
</custom-card>
